@charset "UTF-8";



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:blue;
}
.time{
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top: 100px;
    border-radius: 50%;
    border: 2px solid black;
  
    
}
h1{
    position: relative;
    margin-bottom: 400px;
   display: flex;
   align-items: center;
}

.number{
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    padding: 6px;
    
}

.number-1{
    transform: rotate(30deg);
}
.number-2{
    transform: rotate(60deg);
}
.number-3{
    transform: rotate(90deg);
}
.number-4{
    transform: rotate(120deg);
}
.number-5{
    transform: rotate(150deg);
}
.number-6{
    transform: rotate(180deg);
}
.number-7{
    transform: rotate(210deg);
}
.number-8{
    transform: rotate(240deg);
}
.number-9{
    transform: rotate(270deg);
}
.number-10{
    transform: rotate(300deg);
}
.number-11{
    transform: rotate(330deg);
}
.number-12{
    transform: rotate(360deg);
}







.hour, .min, .sec{
    position: absolute;
    bottom: 50%;
    border-radius: 15px;
    background-color: black;
    transform-origin: bottom;
}
.hour{
    width: 8px;
    height: 37%;
    z-index: 1;
    border: 1PX solid white;

   
}
.min{
    width: 6px;
    height: 39%;
    z-index: 2;
    background-color: red;
    border: 1PX solid white;
  
}
.sec{
    width: 4px;
    height: 40%;
    z-index: 3;
    background-color: darkgreen;
}
.time::after{
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    z-index: 4;
    background-color: black;
    border-radius: 50%;
 
}